apiVersion: v1
kind: Secret
metadata:
  name: {{ prometheus_vars.kubernetes.grafana.secret.name }}
  namespace: {{ prometheus_vars.kubernetes.namespace }}
stringData:
  password: {{ lookup('community.general.onepassword', 'ansible-secrets', field='grafana_passwrod', vault='homelab_private') }}
  username: {{ lookup('community.general.onepassword', 'ansible-secrets', field='grafana_username', vault='homelab_private') }}
type: Opaque
